.style_for_span {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.style_for_span::before{
    content: "\270E";
}

.button {
    margin-left: 10px;
}
.input_span{
    margin: 10px;
}