.radio {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px black solid;
    border-radius: 50%;
    position: relative;
    color: dodgerblue;
}

.radio:checked:after{
    position: absolute;
    appearance: none;
    content: "X";
    font-weight: bold;
    font-size: 20px;
    transform: translateY(-5%) translateX(10%);
}